img#logo {
    height: 2rem;
    margin-right: 3rem;
}

img.benchmarkimgcentered {
    display: block;
    margin: auto;
    max-width: 60%;
}

/* Adjust width for tablets (screens between 600px and 1024px) */
@media only screen and (max-width: 1024px) {
    img.benchmarkimgcentered {
        max-width: 75%; /* Slightly larger for tablets */
    }
}

/* Adjust width for smaller devices (phones, screens below 600px) */
@media only screen and (max-width: 600px) {
    img.benchmarkimgcentered {
        max-width: 90%; /* Full width for small screens */
    }
}